<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Hear Sounds ❤</div>
    <p>
      Upload audios of <strong>hearbeat sounds</strong> recorded via the iStethoscope Pro iPhone app <br> or digital stethoscope and get a probability score indicating coronary heart diseases.</p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='audio/*'>
      </div>

      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Audio</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <audio id='audio-picked' controls autoplay type="audio/wav">
        <source src="" id="src" />
      </audio>
   <!--   <audio id='audio-picked' alt='Chosen Audio'controls>
        Your browser does not support the audio element.
      </audio>-->
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
